{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<h4>Have a question for us?</h4>

<form role="form">
    <div class="form-group">
        <label class="control-label" for="Question">Question:</label>
        <input type="text" class="form-control" id="Question" placeholder="Type your question here.">
    </div>
    <!--<div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>-->
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<!--<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>-->
<h4>Or send us an email if you prefer...</h4>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
